<h1>Profile</h1>
<div class='body'>
    <div class='field'>
        <label for='name'>Name</label>
        <input autofocus='autofocus' id='name' name='name' type='text' value='<%= name %>'>
    </div>
    <div class='field'>
        <label for='email'>Email</label>
        <input id='email' name='email' type='email' value='<%= email %>'>
    </div>
    <section>
        <div class='field'>
            <label for='email'>Email</label>
            <input id='email' name='email' type='email' value='<%= email %>'>
        </div>
    </section>
</div>
<div class='controls'>
    <a class='button'>Save</a>
</div>