@import 'bourbon';
@import 'normalize';

/* variables from eggshell */
$white:  #ffffff;
$black:  #203442 !default;
$blue:   #1f8dd6 !default;
$green:  #50cd84 !default;
$yellow: #ffc65e !default;
$orange: #ff8859 !default;
$red:    #ff5f5f !default;
$purple: #8b66cb !default;
$grey:   #a5adb3 !default;
$light:  #fafafb !default;
$line:   #f3f4f5 !default;

$gutter: 20px !default;
$radius: 2px !default;

$pico:     10px !default;
$micro:    11px !default;
$small:    12px !default;
$smaller:  14px !default;
$normal:   16px !default;
$larger:   18px !default;
$large:    24px !default;
$huge:     32px !default;
$gigantic: 48px !default;

$sans: 'open sans', arial, sans-serif !default;
$mono: inconsolata, consolas, 'source code pro', $monospace;

/* mixins */
@mixin uncollapse-margin {
  @include clearfix();
  &:before {
    content: "";
    display: table;
  }
}

@mixin center-block {
  @include margin(null auto null auto);
}


/*
 * Global
 */
body {
  color: tint($black, 25%);
  font: 200 #{$normal}/140% #{$sans};
  background-color: $white;
}

a {
  color: $blue;
  text-decoration: none;
  @include transition(all ease-in-out .2s);
  &:hover {
    color: shade($blue, 10%);
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
  font-family: roboto, $sans;
  font-weight: 200;
  line-height: 110%;
  @include margin($gutter null $gutter null);
}

h1 {
  font-size: $huge;
}

h2 {
  font-size: $large;
}

h3 {
  font-size: $larger;
}

h4, h5, h6 {
  font-size: $normal;
}

p, blockquote, pre {
  @include margin(0 null $gutter/2 null);
}

ul, ol {
  @include margin(0 null $gutter/2 $gutter);
  padding-left: $gutter;
  li {
    margin-bottom: $gutter/2;
  }
}

ul {
  list-style-type: square;
}

pre, code {
  font-family: $mono;
  font-weight: 200;
}

pre {
  padding: 10px;
  background-color: $light;
  border: 1px solid $line;
  border-radius: $radius;
  overflow-x: auto;
  code {
    overflow-wrap: normal;
    white-space: pre;
  }
}

hr {
  border: none;
  height: 1px;
  @include margin($gutter null $gutter null);
  background-color: $line;
}

#logo {
  display: block;
  color: $grey;
  text-align: center;
  @include center-block;
  margin-bottom: 20px;
  i[class^='icon-'] {
    color: $green;
    font-size: $gigantic*2.25;
    margin-bottom: 5px;
  }
  span {
    display: block;
    font-size: $large;
    letter-spacing: -1px;
  }
}

#menu {
  list-style: none;
  @include margin(null null 0 0);
  padding-left: 0;
  li {
    margin-bottom: 15px;
  }
}

#document {
  @include uncollapse-margin();
}

#footer {
  color: $grey;
  @include margin($gutter null $gutter null);
  #wiredcraft-logo {
    color: $grey;
    margin-left: 5px;
    &:hover {
      color: tint($black, 40%);
    }
  }
}



/* Extra small devices (phones, less than 768px)
 * No Media query since this is the default */
#menubar, #content {
  width: 100%;
  padding: $gutter;
  @include box-sizing(border-box);
}

#menu {
  a {
    display: block;
  }
}

#menu li {
  padding-bottom: 15px;
  border-bottom: 1px solid $line;
  &:last-child {
    margin-bottom: 0;
  }
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  /* 
   * Equal to:
   * @media only screen and (orientation: landscape) and (min-width: 768px) { }
   */
  #menubar, #content {
    @media (max-width: 992px) {
      width: 80%;
      @include center-block;
    }
  }

  #menu {
    a {
      display: inline;
    }
  }
}



/* Medium devices (desktops, 992px and up */
@media (min-width: 992px) {
  /*
   * Equal to:
   * @media only screen and (orientation: landscape) and (min-width: 992px) { }
   */
  #menubar {
    float: left;
    width: 240px;
    border-right: 1px solid $line;
    @include position(fixed, 0 null 0 0);
    li {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  #content {
    padding-left: 280px;
  }

  #document {
    h2 {
      font-size: $huge;
    }
  }

}



/* Large devices (desktops, 1200px and up) */
@media only screen and (orientation: landscape) and (min-width: 1200px) {

  /*
   * Equal to:
   * @media only screen and (orientation: landscape) and (min-width: 1200px) { }
   */
  #document {
    max-width: 750px;
  }

}

@import 'icons';
@import 'feathers';

