<script id='tpl-header' type='text/html'>{% include template/header._ %}</script>
<script id='tpl-footer' type='text/html'>{% include template/footer._ %}</script>
<script id='tpl-gist' type='text/html'>{% include template/gists/gist._ %}</script>
<script id='tpl-gists' type='text/html'>{% include template/gists/gists._ %}</script>
<script id='tpl-publicgist' type='text/html'>{% include template/publicGists/publicGist._ %}</script>
<script id='tpl-publicgists' type='text/html'>{% include template/publicGists/publicGists._ %}</script>
<script id='tpl-usergists' type='text/html'>{% include template/userGists/userGists._ %}</script>
<script id='tpl-usergist' type='text/html'>{% include template/userGists/userGist._ %}</script>