@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
	font-family: 'OpenSans-Regular-webfont';
	src:url('fonts/OpenSans-Regular-webfont.eot');
	src:url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/OpenSans-Regular-webfont.svg#icomoon') format('svg'),
		url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
		url('fonts/OpenSans-Regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'OpenSans-Regular-webfont';
	content: attr(data-icon);
	speak: none;
	-webkit-font-smoothing: antialiased;
	vertical-align: middle;
    margin-right: 5px;
}