---
layout: default
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{page.layout}}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Css -->
    <link rel="stylesheet" href="{{site.url}}/app.css" />

    <!-- Icons -->
    <link rel='shortcut icon' href='{{site.url}}/images/favicon.ico'>
    <link rel='apple-touch-icon' href='{{site.url}}/images/apple-touch-icon.png'>
    <link rel='apple-touch-icon' sizes='72x72' href='{{site.url}}/images/apple-touch-icon-72x72.png'>
    <link rel='apple-touch-icon' sizes='114x114' href='{{site.url}}/images/apple-touch-icon-114x114.png'>

  </head>
  <body>
    <div id="app">
        {{content}}
    </div>
    <!-- JS -->
    {% include lib/templates.html %}
    <script src="{{site.url}}/app.js"></script>
    
    <!-- google analytics 
    <script type="text/javascript">
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script> -->
  </body>
</html>