---
layout: post
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{page.layout}}</title>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Css -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- Icons -->
    <link rel='shortcut icon' href='{{site.url}}/images/favicon.ico'>
    <link rel='apple-touch-icon' href='{{site.url}}/images/apple-touch-icon.png'>
    <link rel='apple-touch-icon' sizes='72x72' href='{{site.url}}/images/apple-touch-icon-72x72.png'>
    <link rel='apple-touch-icon' sizes='114x114' href='{{site.url}}/images/apple-touch-icon-114x114.png'>

    <!-- Javascirpt -->
    <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>

  </head>

  <body>
    <header>
    </header>

    <section>
      {{ content }}
    </section>
    <footer>
      {% include footer %}
    </footer>
  </body>
</html>