<!doctype html>
<html lang='en' ng-app='Feathers' ng-controller='FeathersCtrl'>
<head>
  <meta charset='utf-8'>
  <title>Feathers</title>

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

  <!-- compiled CSS --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>

</head>
<body>

  <ng-include src="'navbar/navbar.tpl.html'"  ng-controller='NavbarCtrl'></ng-include>

  <div ui-view></div>

  <!-- Global Notification section -->
  <div id='notifications' ng-show='globalMsg'>
    <p class='{{globalMsg.type}}'>{{ globalMsg.data }}</p>
  </div>

</body>
</html>
