<!doctype html>
<html lang='en' ng-app='Feathers' ng-controller='FeathersCtrl'>
<head>
  <meta charset='utf-8'>
  <title>Feathers</title>

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

  <!-- compiled CSS --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>

</head>
<body>

  <p>Hello Feathers!</p>

  <p>You are under {{mode}} mode!</p>

</body>
</html>
